/* reset css */
*{margin: 0;
padding: 0;
text-decoration: none;
box-sizing: border-box;}

body {
    background-color:
       black;
    font-family: 'Times New Roman', Times, serif sans-serif;
}

.signup-Box {
    width: 450px;
    height: 580px;
    margin: auto;
    background-color: white;
    border-radius: 3px;
    border-radius: 15px;
}

.login-box{
    width: 420px;
    height: 300px;
    margin: auto;
    border-radius: 3px;
    background-color: white;
    border-radius: 15px;
}
h1 {
    text-align: center;
    padding-top: 15px;
    margin-top: 20px;
}

form {
    width: 300px;
    margin-left: 20px;;
}

form label {
    display: flex;
    margin-top: 20px;
    font-size: 18px;
    margin-left: 33px;
}

form input {
    width: 100%;
    padding: 7px;
    border: none;
    border: 1px solid gray;
    border-radius: 9px;
    outline: none;
    background-color: white;
    margin-left: 30px

}

input[type="button"] {
    width: 320px;
    height: 35px;
    margin-top: 15px;
    border: none;
    background-color: rgb(7, 71, 47);
    color: white;
    font-size: 18px;

}

p {
    text-align: center;
    padding-top: 18px;
    font-size: 13px;
    margin-bottom: 1px;

}

.para-2 {
    text-align: center;
    color: rgb(1, 53, 6);
    font-size: 15px;
}

.para-2a{color: #49c1a2;
}