/* reset css */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.user-answer{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1{
    font-size: 100px;
    margin-bottom: 40px;
}

.user-answer-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    width: 50vw;
    height: 15vh;
    padding: 30px 50px;
    border: none;
    background-color: rgb(233, 224, 224);
    box-shadow: 1px 1px 1px 1px rgb(231, 213, 213);
    border-radius: 20px;
}

.user-answer-container > label{
    font-size: 50px;
    font-weight: 900;
    padding-left:  60px;
}

.user-answer-container > input{
    /* padding-inline: 10px;
    padding-block: 5px; */
    outline: none;
    /* background-color: transparent; */
    border: none;
    width: 50%;
    height: 80px;
    box-shadow: 1px 1px 2px 1px rgb(255, 255, 255);
    background-color: rgb(39, 103, 146);
    font-size: 40px;
    color: white;

}

.submit-btn{
    padding: 5px 30px;
    outline: none;
    font-weight: 600;
    background-color:black;
    color: white;
    border-radius: 5px;
    font-size: 25px;
    width: 200px;
    height: 60px;
}

.user-result{
    display: none;
    padding: 10px 30px;
    margin-top: 10px;
    border-radius: 20px;
    font-weight: 700;
}

.click{
    background-color: black;
    margin-top: 20px;
    padding: 5px 30px;
    outline: none;
    font-weight: 600;
    color:white;
    width: 200px;
    height: 60px;
    font-size: 25px;
    text-align: center;
}

@keyframes shake{
    0% { transform: translatex(0);}
    25% { transform: translatex(-5px);}
    50% { transform: translatex(5px);}
    75% { transform: translatex(-5px);}
    100% { transform: translatex(0);}

}

.shake{
    animation: shake .5s ease-in-out;

    /* background-color: green */
}